<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Theta 2k23</title>
		<link rel="icon" type="image/png" href="/images/logo.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>

		<header class="header">
			<a href="/home" class="logo"> 
				<img style="font-size: 30px; font-weight: bold; color: #0e8bb5; margin-bottom:-5px;" src="images/loogoo.png" alt="">
				Theta <span style="color: #0e8bb5;">2k23</span>
			</a>
			<nav class="navbar">
			   <div id="close-navbar" class="fas fa-times"></div>
			   <a href="/home">Home</a>
			   <a href="/about">About</a>
			   <a href="/clusters">Clusters</a>
			   <a href="/contact">Contact</a>
			</nav>
			<div class="icons">
			   <div id="account-btn" class="fas fa-user"></div>
			   <div id="menu-btn" class="fas fa-bars"></div>
			</div>
		 </header>